@font-face {
  font-family: 'Sk-Modernist';
  src: url(./assets/fonts/Sk-Modernist-Regular.otf);
  font-weight: normal;
}

* {
  outline: none;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-webkit-scrollbar {
    display: none !important;
  }
}

html,
body,
#root {
  font-family: 'Sk-Modernist', "General";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  z-index: -1;
  background-size: cover;
  font-family: 'Sk-Modernist', "General";
  overflow: hidden;
  overflow-y: scroll;
}

.app:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("./assets/images/bg.jpg") !important;
  background-size: cover;
  z-index: -1;
}

// .makeStyles-content-157 {
//   margin-left: 250px !important;
// }

// @media (min-width: 960px) {
//   .makeStyles-drawer-1 {
//     width: 250px !important;
//     flex-shrink: 0;
//   }
// }
.MuiButton-root {
  border-radius: 100px !important;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}

.ohm-card {
  background: radial-gradient(100% 100% at 0% 0%, rgba(202, 91, 2) 10.42%, rgba(59, 35, 77, 0) 100%),
    rgba(255, 255, 255, 0.05) !important;
}

.right-radial {
  background: radial-gradient(100% 100% at 100% 0%, rgba(255, 0, 106, 0.12) 10.42%, rgba(255, 0, 106, 0) 100%),
    rgba(255, 255, 255, 0.05) !important;
}

.ohm-card {
  max-width: 830px;
  width: 98%;
  .card-header {
    width: 100%;
    min-height: 33px;
    margin-bottom: 10px;
    h5 {
      font-weight: 600 !important;
    }
  }

  .help-text {
    margin: 10px 0px;
  }

  .data-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 12px 0px;
  }

  .data-row-centered {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 12px 0px;
    .marginedBtn {
      margin: 0.3rem;
    }
  }
}

.ohm-pairs {
  display: flex;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}
